




/*----Header----*/




/*----logo----*/

.logo {
    padding: 10px;
}

/*----Jumbotron----*/

.container-jumbotron-top {
    height: 35px;
}



/*----Navbar----*/

.nav-link {
    
font-family: Oswald;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 44px;
text-align: right;

color: #000000;
}




/*----Section----*/


/*----Hero Image Starts----*/


/*----Hero Image Ends----*/


/*----Footer----*/

.bg-color {
    background-color: #332335;
}

.footer-style {
position: absolute;
height: 140px;
min-width:100%;
max-width:100%;
top: 940px;
}


.list-inline-item i {
    font-size: 50px;
    margin: 0 auto;
    color:#fff;
    max-width: height 80px;
    padding-top: 40px;
}

.list-inline li {
    padding-left: 25px;
    float: right;
}