
/* @import url('https://fonts.googleapis.com/css?family=Oswald+Nunito&display=swap'); */


/*----Header----*/




/*----logo----*/

.logo {
    padding: 10px;
}

/*----Jumbotron----*/ 


div h2 {
    font-size: 35px;
}

/*----Navbar----*/




/*----Section----*/


/*----Hero Image Starts----*/


/*----Hero Image Ends----*/


/*----Footer----*/

.bg-color {
    background-color: #332335;
}

.footer-style {
position: absolute;
min-width:100%;
max-width:100%;
top: 940px;
}


.footer-text {
    font-size: 15px;
    margin: 0 auto;
    color: #ffffff;
    max-width: height 80px;
    padding-top: 10px;
}

.footer-social-media {
    padding-top: 25px;
    color: #ffffff;
}

/*----Footer button----*/

.top-nav-button a {
    margin-top: 2rem;
    font-size: 16px;
    font-weight: 300;
    color: white;
    border: 2px solid #ffffff;
}